HDHIVE_CLIENT_ID=app_xxxxxxxxxxxxxxxxxxxxxxxx
HDHIVE_APP_SECRET=replace_with_your_app_secret
HDHIVE_REDIRECT_URI=https://hdhive.120345.xyz/oauth/callback
HDHIVE_BASE_URL=https://hdhive.com
HDHIVE_OAUTH_SCOPE=meta query unlock
INSTALLATION_KEY=replace_with_a_long_random_string
WEB_INSTALLATION_ID=personal-web
TOKEN_ENCRYPTION_KEY=replace_with_a_fernet_key
DATABASE_PATH=/data/hdhive-oauth.db
